/* app css stylesheet */
.hoverwell {
  background-color: #818f8e;
  border: 1px solid #717f7e ;
  border-radius: 0;
}
.hoverwell:hover {
  background-color: #717f7e;
  cursor: pointer;
}

.container {
  padding-top: 10px;
  background-color: #485563;
  color: #ffffff;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
